# Template file from [kickstart-skel](.kicker/KICKSTART_README.md)
* text eol=lf

*.jpg binary
*.jpeg binary
*.bin binary
*.png binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary binary
*.zip binary
*.tar.gz binary
*.7z binary
*.exe binary
*.sqlite binary

